.navbar {
  background-color: rgb(238, 236, 236);
}

.container-fluid {
  margin-left: 300px;
  padding: 30px;
}
.nav {
  margin-left: 280px;
}
.nav-item {
  margin: 0 25px 0 25px;
}

#header {
  background-color: lightgray;
  font-family: 'Times New Roman', Times, serif;
}

#header a {
  text-decoration: none;
}
.heading a {
  color: #4e6779;
  font-size: 17px;
}

.para1 a,
.para2 a {
  color: #9a9a9a;
  font-size: 17px;
}

.para1 a :hover,
.para2 a :hover {
  color: #796a6a;
}