.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: blue;
  color: antiquewhite;
}
.box {
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: aquamarine;
  float: left;
}
