.section1 {
    background-image: linear-gradient(-90deg, blueviolet, violet);
    padding: 50px 0;
}
.content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;

}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h5 {
    margin-top: 15px;
}
#username, #email, #password, #mobilenumber, #dob, #gender, #address {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}
.submit:hover {
    background-color: darkviolet;
}
#name, #mail, #pw, #mob, #date, #gndr, #add, #message, #code1, #upload, #message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
#red, #blue, #green {
    margin-top: 10px;
    margin-right: 5px;

}
