body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(310deg, yellow, pink, orange);
    padding: 20px;
    color: #fff;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    border: none;
}

button {
    background-color: cornflowerblue;
    font-weight: bold;
}
.card {
    background-color: bisque;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    border: 1px solid saddlebrown;
    padding: 15px;
    border-radius: 15px;
   background-color: lightgreen;
   color: blue;
}